# Bayes linear regression applied on datasets

In [74]:
import os, sys, importlib

import numpy as np
import pandas as pd
import torch

import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
BASE_PATH = os.path.join(os.getcwd(), "..", "..")
MODULE_PATH = os.path.join(BASE_PATH, "modules", "pipeline")
DATA_PATH = os.path.join(BASE_PATH, "datasets", "regression")

In [76]:
sys.path.append(MODULE_PATH)

import insurance as inds
importlib.reload(inds)

## Load dataset and pre-process

In [77]:
insurance_ds_path = os.path.join(DATA_PATH, "insurance_forecast.csv")
unprocessed_data = pd.read_csv(insurance_ds_path)

In [78]:
data = inds.preprocess(unprocessed_data)
data.head()

   age     bmi      children  smoker      charges
0   19  27.900  12365.975602       1  16884.92400
1   18  33.770  12731.171832       0   1725.55230
2   28  33.000  15355.318367       0   4449.46200
3   33  22.705  12365.975602       0  21984.47061
4   32  28.880  12365.975602       0   3866.85520

In [84]:
data.describe()

               age          bmi      children       smoker       charges
count  1338.000000  1338.000000   1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397  13270.422265     0.204783  13270.422265
std      14.049960     6.098187   1338.938927     0.403694  12110.011237
min      18.000000    15.960000   8786.035247     0.000000   1121.873900
25%      27.000000    26.296250  12365.975602     0.000000   4740.287150
50%      39.000000    30.400000  12731.171832     0.000000   9382.033000
75%      51.000000    34.693750  15073.563734     0.000000  16639.912515
max      64.000000    53.130000  15355.318367     1.000000  63770.428010

# Max Likelihood estimation of parameters

In [79]:
from sklearn import linear_model

In [80]:
x = data.to_numpy()[:, :-1]
y = data.to_numpy()[:, -1]

In [81]:
reg = linear_model.LinearRegression(fit_intercept=True)
reg.fit(x, y)

LinearRegression()

In [82]:
a_ml = reg.coef_ # Per feature a coeff
b_ml = reg.intercept_ # y-axis intecept

In [83]:
print("Coefficients: ", a_ml)
print("Coefficient: ", b_ml)

Coefficients:  [2.57329062e+02 3.20790144e+02 3.91876990e-01 2.37484150e+04]
Coefficient:  -16718.851232766712

In [90]:
def make_ml_plot(a, b, ax, f, x_range, y_range):
    """
        Plot max-likelihood of specific coefficient.
        
    """
    x_min, x_max = x_range
    y_min, y_max = y_range
    
    ax.set_xlim(x_min, x_max)
    ax.set_ylim(y_min, y_max)
    ax.set_xlabel('x')
    ax.set_ylabel('y')
    
    ax.set_titlle("A = {:+.2f} b = {:+.2f}".format(a, b))
    
    x_min_max = [x_min, x_max]
    ax.plot(x_min_max, [a*x_min+b, a*x_max+b], color='black')
    ax.plot(x_min_max, [a*x_min+b+2*sigma, a*x_max+b+1.96*sigma], linestyle='dashed', alpha=0.5, color='black')
    ax.plot(x_min_max, [a*x_min+b-2*sigma, a*x_max+b-1.96*sigma], linestyle='dashed', alpha=0.5, color='black')
    ax.scatter(x, y, marker='o', color='r')

In [ ]:
def plot_coff_ml(coff_index, a, b, data):
    
    """
    
    """
    
    columns = data.columns[coff_index]
    a_coff = a[coff_index]
    
    
    x_range = (data[column].min(), data[column].max())
    
    make_ml_plot()

In [87]:
torch.normal(5, 10)

TypeError: normal() received an invalid combination of arguments - got (int, int), but expected one of:
 * (Tensor mean, Tensor std, torch.Generator generator, Tensor out)
 * (Tensor mean, float std, torch.Generator generator, Tensor out)
 * (float mean, Tensor std, torch.Generator generator, Tensor out)
 * (float mean, float std, tuple of ints size, torch.Generator generator, Tensor out, torch.dtype dtype, torch.layout layout, torch.device device, bool pin_memory, bool requires_grad)